.main{
    margin-left:20px;
}

.card-container {
    display: flex;
    gap: 10px;
}

#category{
    padding: 25px 0px 25px;
    color: #512D38
}

.card {
    height: 100%; /* Set a fixed height for the cards */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between items */
}

.card-img-top {
    object-fit: cover;
    height: 70%; /* Set a fixed height for the image */
}

.btn-outline-yellow {
    color: #FFD700;
    background-color: transparent;
    border-color: #FFD700;
}

.btn-outline-green {
    color: #008000;
    background-color: transparent;
    border-color: #008000;
}

.btn-outline-blue {
    color: #0000FF;
    background-color: transparent;
    border-color: #0000FF;
}

.btn-outline-purple {
    color: #800080;
    background-color: transparent;
    border-color: #800080;
}

.btn-outline-pink {
    color: #FFC0CB;
    background-color: transparent;
    border-color: #FFC0CB;
}

.btn-pink {
    color: #ffffff; /* Text color */
    background-color: #512D38; /* Pink color */
    border-color: #512D38; /* Border color */
}

.card-title {
    color: #B27092
}